(routing) {
  root * /app
  file_server

  route /api* {
    reverse_proxy api:5000
  }
}

http://localhost,
http://local.geotimelapse.com,
http://dev.geotimelapse.com {
  import routing
}

geotimelapse.com,
www.geotimelapse.com {
  tls franck.ernewein@gmail.com
  import routing
}
